<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.skydog.dao.OrderDao">
    <resultMap id="OrderMap" type="com.example.skydog.module.entity.Order">
        <id column="orderId" property="orderId" />
        <result column="userId" property="userId" />
        <result column="cartId" property="cartId" />
        <result column="addressId" property="addressId" />
        <result column="productId" property="productId" />
        <result column="scaleId" property="scaleId" />
        <result column="productCount" property="productCount" />
        <result column="orderStatus" property="orderStatus" />
        <result column="createTime" property="createTime" />
        <result column="payTime" property="payTime"/>
        <result column="endTime" property="endTime"/>
        <association property="productDto" column="productId"
                     resultMap="com.example.skydog.dao.ProductDao.ProductDtoMap"></association>
        <association property="address" column="addressId"
                     resultMap="com.example.skydog.dao.AddressDao.addressMap"></association>
    </resultMap>
<!--  添加订单  -->
    <insert id="add" parameterType="Order">
        insert into tb_order
        values (#{orderId},
        #{userId},
        #{cartId},
        #{addressId},
        #{productId},
        #{scaleId},
        #{productCount},
        #{orderStatus},
        #{createTime},
        #{payTime},
        #{endTime})
        <selectKey keyProperty="orderId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID() AS orderId
        </selectKey>
    </insert>
<!--  删除订单  -->
    <delete id="delete" parameterType="java.lang.Integer">
    delete from tb_order where orderId=#{orderId}
    </delete>

    <select id="queryId" parameterType="java.lang.Integer" resultMap="OrderMap">
    select *from tb_order where orderId=#{orderId}
    </select>
<!--  条件查询  -->
    <sql id="selectActive">
        <where>
            <if test="orderId != null">
                o.orderId=#{orderId}
            </if>
            <if test="userId !=null">
                and o.userId=#{userId}
            </if>
            <if test="cartId !=null">
                and o.cartId=#{cartId}
            </if>
            <if test="addressId !=null">
                and o.addressId=#{addressId}
            </if>
            <if test="productId !=null">
                and o.productId=#{productId}
            </if>
            <if test="scaleId !=null">
                and o.scaleId=#{scaleId}
            </if>
            <if test="productCount !=null">
                and o.productCount=#{productCount}
            </if>
            <if test="orderStatus !=null">
                and o.orderStatus=#{orderStatus}
            </if>
            <if test="createTime !=null">
                and o.createTime=#{createTime}
            </if>
            <if test="payTime !=null">
                and o.payTime=#{payTime}
            </if>
            <if test="endTime !=null">
                and o.endTime=#{endTime}
            </if>
        </where>
    </sql>
    <select id="queryCondition" parameterType="Order" resultMap="OrderMap">
        select o.*,a.*,p.*,g.*,i.*,s.* from tb_order o
        LEFT JOIN tb_address a ON (o.addressId = a.addressId)
        LEFT JOIN tb_product p ON (o.productId = p.productId)
        LEFT JOIN tb_category g ON (p.categoryId = g.categoryId)
        LEFT JOIN tb_img i ON (p.imgId = i.imgId)
        LEFT JOIN tb_scale s ON (o.scaleId = s.scaleId)
        <include refid="selectActive"/>
        ORDER BY o.createTime DESC
    </select>
<!--  修改订单信息  -->
    <select id="update">
     update tb_order
     <set>
         <if test="userId !=null">
             userId=#{userId},
         </if>
         <if test="cartId !=null">
             cartId=#{cartId},
         </if>
         <if test="addressId !=null">
             addressId=#{addressId},
         </if>
         <if test="productId !=null">
             productId=#{productId},
         </if>
         <if test="scaleId !=null">
             scaleId=#{scaleId},
         </if>
         <if test="productCount !=null">
             productCount=#{productCount},
         </if>
         <if test="orderStatus !=null">
             orderStatus=#{orderStatus},
         </if>
         <if test="createTime !=null">
             createTime=#{createTime},
         </if>
         <if test="payTime !=null">
             payTime=#{payTime},
         </if>
         <if test="endTime !=null">
             endTime=#{endTime},
         </if>

     </set>
        where orderId=#{orderId}
    </select>

    <!--<insert id="batchAdd">
                <foreach collection="list" item="order" separator=";">
                    insert tb_order(
                    orderId,
                    cartId,
                    addressId,
                    productId,
                    orderStatus,
                    createTime,
                    payTime,
                    endTime
                    )values(
                    #{orderId},
                    #{cartId},
                    #{addressId},
                    #{productId},
                    #{orderStatus},
                    #{createTime},
                    #{payTime},
                    #{endTime}
                    )
                </foreach>
    </insert>-->
    <!--    批量删除-->
    <delete id="batchDelete">
        <foreach collection="list" item="order" separator=";">
            delete from tb_order where orderId=#{orderId}
        </foreach>
    </delete>

    <!--    获取个人订单-->
    <select id="getMyOrder" parameterType="Order" resultMap="OrderMap">
        select o.*,a.*,p.*,g.*,i.*,s.* from tb_user u
        LEFT JOIN tb_order o ON (u.userId = o.userId)
        LEFT JOIN tb_address a ON (o.addressId = a.addressId)
        LEFT JOIN tb_product p ON (o.productId = p.productId)
        LEFT JOIN tb_category g ON (p.categoryId = g.categoryId)
        LEFT JOIN tb_img i ON (p.imgId = i.imgId)
        LEFT JOIN tb_scale s ON (o.scaleId = s.scaleId)
        <where>
            <if test="orderId != null">
                o.orderId=#{orderId}
            </if>
            <if test="userId !=null">
                and u.userId=#{userId}
            </if>
            <if test="orderStatus !=null">
                and o.orderStatus=#{orderStatus}
            </if>
        </where>
        ORDER BY o.createTime DESC
    </select>
    <sql id="selectOrder">
        <where>
            <if test="orderId != null">
                o.orderId=#{orderId}
            </if>
            <if test="userId !=null">
                and o.userId=#{userId}
            </if>
            <if test="cartId !=null">
                and o.cartId=#{cartId}
            </if>
            <if test="addressId !=null">
                and o.addressId=#{addressId}
            </if>
            <if test="productId !=null">
                and o.productId=#{productId}
            </if>
            <if test="scaleId !=null">
                and o.scaleId=#{scaleId}
            </if>
            <if test="productCount !=null">
                and o.productCount=#{productCount}
            </if>
            <if test="orderStatus !=null">
                and o.orderStatus=#{orderStatus}
            </if>
            <if test="createTime !=null">
                and o.createTime=#{createTime}
            </if>
            <if test="payTime !=null">
                and o.payTime=#{payTime}
            </if>
            <if test="endTime !=null">
                and o.endTime=#{endTime}
            </if>
            <if test="beginDate != null and endDate!=null">
                and o.createTime between #{beginDate} and #{endDate}
            </if>

        </where>
    </sql>
    <select id="queryBySelectActive" resultMap="OrderMap">
        select o.*,a.*,p.*,g.*,i.*,s.* from tb_order o
        LEFT JOIN tb_address a ON (o.addressId = a.addressId)
        LEFT JOIN tb_product p ON (o.productId = p.productId)
        LEFT JOIN tb_category g ON (p.categoryId = g.categoryId)
        LEFT JOIN tb_img i ON (p.imgId = i.imgId)
        LEFT JOIN tb_scale s ON (o.scaleId = s.scaleId)
        <include refid="selectOrder"></include>
        ORDER BY o.createTime DESC
        <!-- 分页-->
        <if test="currentPage != null and pageSize != null">
            <bind name="start" value="(currentPage - 1) * pageSize"/>
            limit #{start},#{pageSize}
        </if>
    </select>
    <select id="countBySelectActive" resultType="int">
        select count(1) from tb_order o
        LEFT JOIN tb_address a ON (o.addressId = a.addressId)
        LEFT JOIN tb_product p ON (o.productId = p.productId)
        LEFT JOIN tb_category g ON (p.categoryId = g.categoryId)
        LEFT JOIN tb_img i ON (p.imgId = i.imgId)
        LEFT JOIN tb_scale s ON (o.scaleId = s.scaleId)
        <include refid="selectOrder"></include>
    </select>
</mapper>