<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.skydog.dao.ScaleDao">
    <resultMap id="ScaleMap" type="com.example.skydog.module.entity.Scale">
        <id column="scaleId" property="scaleId" />
        <result column="productId" property="productId" />
        <result column="productScale" property="productScale"  />
        <result column="productScaleStock" property="productScaleStock" />
        <result column="productScalePrice" property="productScalePrice" />
    </resultMap>
<!--   添加商品规格-->
    <insert id="add">
        insert into table_scale{
        scaleId,
        productId,
        productScale,
        productScaleStock,
        productScalePrice,
        }values(
        #{scaleId},
         #{productId},
          #{productScale},
           #{productScaleStock},
            #{ productScalePrice},)
        <selectKey keyProperty="scaleId" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID() AS scaleId
        </selectKey>
    </insert>
<!--    删除商品规格-->
    <delete id="delete" parameterType="int">
    delete from tb_scale where scaleId=#{scaleid}
    </delete>
<!--  更改商品规格-->
    <update id="update" parameterType="com.example.skydog.module.entity.Scale">
        update tb_scale
        <set>
            <if test="scaleId != null">
                scaleId=#{scaleId}
            </if>
            <if test="productId != null">
                productId=#{productId}
            </if>
            <if test="productScale != null">
                productScale=#{productScale}
            </if>
            <if test="productScaleStock != null">
                productScaleStock=#{productScaleStock}
            </if>
            <if test="productScalePrice != null">
                productScalePrice=#{productScalePrice}
            </if>
            where  scaleId=#{scaleId}
        </set>
    </update>

<!--    按id查询-->
    <select id="queryId" parameterType="java.lang.Integer" resultMap="ScaleMap">
    select *from tb_scale where scaleId=#{scaleId}
    </select>


<!--    按条件查询-->
    <sql id="selectActive">
        <where>
            <if test="scaleId != null">
                scaleId=#{scaleId}
            </if>
            <if test="productId !=null">
                productId=#{productId}
            </if>
            <if test="productScale !=null">
                productScale=#{productScale}
            </if>
            <if test="productScaleStock !=null">
                productScaleStock=#{productScaleStock}
            </if>
            <if test="productScalePrice !=null">
                productScalePrice=#{productScalePrice}
            </if>

        </where>
    </sql>


    <select id="queryCondition" parameterType="Scale" resultMap="ScaleMap">
        select *from tb_scale
        <include refid="selectActive"/>
    </select>


</mapper>